<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.sharingjdbcdemo.mapper.OnlineMapper">
  <resultMap id="BaseResultMap" type="com.db.sharingjdbcdemo.domain.Online">
    <!--@mbg.generated-->
    <!--@Table `online`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="be_online_user_id" jdbcType="INTEGER" property="beOnlineUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, be_online_user_id, content, `status`, online_time
  </sql>
</mapper>